@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@keyframes spin {
  0% {
    opacity: 0.2;
    -moz-transform: scale(0.1) rotate(0deg);
    -webkit-transform: scale(0.1) rotate(0deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(1070deg);
    -webkit-transform: scale(1) rotate(1070deg);
  }
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f3f4f7;
  color: #131763;
}

.header {
  font-size: 6rem;
  text-align: center;
  margin-top: 40px;
  font-family: 'Londrina Solid', cursive;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 10px 0;
}

.national-geographic, .bbc-news, .the-wall-street-journal {
  display: inline-block;
  width: 320px;
  margin: 20px;
  cursor: pointer;
  animation-duration: 2s;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.2rem;
  animation-name: spin;
}

.national-geographic:hover, .bbc-news:hover, .the-wall-street-journal:hover {
  transform: scale(1.2);
}

.menu-small {
  position: absolute;
  display: none;
  top: 40px;
  left: 40px;
  font-family: 'Londrina Solid', cursive;
}

.active {
  opacity: 0.5;
}
